<!DOCTYPE html>
<html>
<head>
    <title>View Censuses</title>
</head>
<body>
    <h1>List of Censuses</h1>
    <a type="button" href="/admin/census/census">Go back</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Voting</th>
                <th>Voter</th>
            </tr>
        </thead>
        <tbody>
            {% for census in cs %}
                <tr>
                {% for c in census %}
                    <td>{{ c }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>